.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    padding: 2px;
    margin-left: 41px;
    margin-top: 48px;
  
}

.post{
    /* border: 1px solid #ccc; */
    padding-inline: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 100vh;

}
.post-Aouther{
    border: none;
    text-align: left;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 2px;
    font-family: 'Courier New', Courier, monospace;
}
.h3{
    border: none;
    text-align: left;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: solid;
    text-shadow: #ccc;
}
.img-news{
    width: 470px;
    height: 370px;
    border-radius: 16px;
    margin-left: -22px;
    margin-right: -22px;
    margin-top: -2px;
    scroll-behavior: smooth;
}
